<!-- order_status.html -->

<!DOCTYPE html>
<style>
        .table-container {
            margin-bottom: 50px;
            text-align: center;

        }

        .table-bordered {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #000;
            margin: 0 auto;
        }

        .table-bordered th,
        .table-bordered td {
            border: 1px solid #000;
            padding: 8px;
            text-align: left;
        }
    </style>
{% extends 'baseT/base.html' %}
{% block navbar %}
               <nav class="site-navigation position-relative text-center" role="navigation">

              <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="active"><a href="/"><span>Home</span></a></li>
                <li class="has-children">
                  <a href="about.html"><span>Dropdown</span></a>
                  <ul class="dropdown arrow-top">
                    <li><a href="#">Menu One</a></li>
                    <li><a href="#">Menu Two</a></li>
                    <li><a href="#">Menu Three</a></li>
                    <li class="has-children">
                      <a href="#">Dropdown</a>
                      <ul class="dropdown">
                        <li><a href="#">Menu One</a></li>
                        <li><a href="#">Menu Two</a></li>
                        <li><a href="#">Menu Three</a></li>
                        <li><a href="#">Menu Four</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href={% url 'order_status' %}><span>Order Status</span></a></li>
                <li><a href="about.html"><span>About</span></a></li>
                <li><a href='{%  url 'cart' %}'><span>Cart</span></a></li>
                  {% if username == '' %}
                <li><a href='/store/login'><span>Login</span></a></li>
                  {% else %}
                  <li><a href='{% url 'logout' %}'><span>Logout</span></a></li>
                    {% endif %}
              </ul>
            </nav>
{% endblock %}

{% block content %}
  <h1 style="color: navajowhite;">Edit Merchant</h1>
<div class="p-3 mb-2 bg-white text-dark bg-opacity-50 rounded">

      <div class="table-container">
<h2>Ongoing Orders</h2>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Product</th>
                <th>Table Number</th>
                <th>Order Status</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            {% for order in ongoing_orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.tableNumber }}</td>
                <td>{{ order.orderStatus }}</td>
                <td>{{ order.paymentStatus }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

      <div class="table-container">
    <h2>Finished Orders</h2>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>User</th>
                <th>Product</th>
                <th>Table Number</th>
                <th>Order Status</th>
                <th>Payment Status</th>

            </tr>
        </thead>
        <tbody>
            {% for order in finished_orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.product.name }}</td>
                <td>{{ order.tableNumber }}</td>
                <td>{{ order.orderStatus }}</td>
                <td>{{ order.paymentStatus }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
          </div>

<div class="container-fluid rounded bg-dark">
      {% for message in messages %}
        <li style="color: #ff0000"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $(".add-to-cart-form").submit(function(event) {
      event.preventDefault();  // Prevent form submission

      var form = $(this);
      var formData = form.serialize();

      $.ajax({
        type: "POST",
        url: form.attr("action"),  // Use the form's action attribute
        data: formData,
        success: function(response) {
          // Update the UI or show a message indicating success
        },
        error: function() {
          // Handle errors if needed
        }
      });
    });
  });
</script>


{% endblock %}
